@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.tweet-link {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  background-color: #55ACEE;
  color: #FFFFFF;
  padding: 1rem;
}

.twitter-icon {
  vertical-align: middle;
  padding-left: 1rem;
}
